* {
    box-sizing: border-box;
}

main {
    height: 97vh;
    width: 97vw;
    margin: 0 auto;
}

.flexible {
    display: flex;

    flex-wrap: wrap;
}   

.flexible-layout {
    display: flex;
    justify-content: flex-end;
}

button {
    flex: 0 1 150px;
    height: 150px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    border: none;
    font-weight: 600;
    border-radius: 3px;
    margin: 20px;
    background-color: rgb(98, 26, 243);
}

button:hover {
    cursor: pointer;
}

.btn-img {
    border-radius: 50%;
    background-image: url("./image/my-photo.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    align-items: flex-end;
    margin: 20px;
    flex: 0 0 150px;
}
